 .u-section-1 {
  background-image: url("images/Coronavirus_3D_illustration_by_CDC_1600x9002.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 956px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 507px;
  margin: 200px 154px 60px 200px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: 54px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 285px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 532px;
}

.u-section-2 .u-text-1 {
  margin: 176px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 766px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 630px;
}

.u-section-3 .u-image-1 {
  width: 537px;
  height: 557px;
  margin: -26px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: -524px 24px 60px 544px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-weight: normal;
    margin-right: 0;
    margin-left: 368px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-top: 101px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -551px;
    margin-left: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-3 .u-image-1 {
    height: 353px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: -330px;
    margin-bottom: 0;
  }
} .u-section-4 {
  background-image: none;
  min-height: 619px;
}

.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1188px);
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 619px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 22px 50px 0 70px;
}

.u-section-4 .u-image-1 {
  min-height: 619px;
  background-image: url("images/OIP1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 490px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 375px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 375px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1098px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-image-1 {
    min-height: 844px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 785px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-image-1 {
    min-height: 531px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 666px;
}

.u-section-5 .u-video-1 {
  width: 1036px;
  height: 500px;
  margin: 46px auto 60px 19px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-5 .u-video-1 {
    width: 940px;
    height: 454px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-5 .u-video-1 {
    width: 720px;
    height: 348px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 261px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 164px;
    margin-left: 400px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-6 .u-image-1 {
  filter: brightness(0.6);
  width: 667px;
  height: 727px;
  object-position: 38.67% 50%;
  margin: -11px auto 0 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -539px 0 0 698px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -208px 148px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    height: 726px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -637px;
    margin-left: 498px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: -261px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-top: -558px;
    margin-left: 278px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    width: 540px;
    height: 588px;
    margin-top: 313px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -550px;
    margin-left: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 340px;
    height: 370px;
    margin-top: 385px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -508px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: -293px;
  }
}