 .u-section-1 {
  background-image: url("images/COVID-19-SM-1200px.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 591px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 177px -17px 60px 653px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 553px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 443px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 353px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 176px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 253px;
  }
} .u-section-2 {
  min-height: 908px;
}

.u-section-2 .u-group-1 {
  width: 907px;
  min-height: 246px;
  margin: 36px auto 0 calc(((100% - 1140px) / 2) + 53px);
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  margin: 22px 20px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 22px -54px 0 -12px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 78px calc(((100% - 1140px) / 2) + 548px) 0 calc(((100% - 1140px) / 2) + 11px);
}

.u-section-2 .u-layout-wrap-1 {
  width: 593px;
  margin: -442px 0 9px auto;
}

.u-section-2 .u-image-1 {
  background-image: url("images/testing-covid-19-small.png");
  min-height: 560px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 33px);
  }

  .u-section-2 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 359px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 139px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 586px;
    margin-top: -420px;
    margin-right: calc(((100% - 1140px) / 2) + 130px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -458px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 22px;
  }

  .u-section-2 .u-image-1 {
    min-height: 510px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 729px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin: -404px auto 60px calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-image-1 {
    min-height: 321px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 57px auto 57px 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/symptoms-covid-191.png");
  min-height: 437px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 449px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 64px 47px 0 -7px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 437px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 2034px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: 37px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 88px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 17px 0 0 663px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1206px;
  margin: -941px auto 27px -12px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/6000.jpg");
  min-height: 964px;
  background-position: 100% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 0 12px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 964px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1892px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 463px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 751px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 751px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1736px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 243px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 575px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 575px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2756px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 63px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 863px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 863px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2190px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 543px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 543px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 749px;
}

.u-section-5 .u-text-1 {
  margin: 68px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: linear-gradient(to right, #73a3de, #a6bbd4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 20px auto 0 -445px;
  padding: 26px 94px 27px 93px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 49px 22px 59px 82px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 600px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 767px) {
  .u-section-6 .embed-responsive-1 {
    width: 198%;
    left: -49%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .embed-responsive-1 {
    width: 314%;
    left: -107%;
  }
}